<!-- src/main/resources/templates/detail.html -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>술집 상세 정보</title>
    <link rel="stylesheet" href="/css/detail.css" />
    <script src="/js/detail.js" defer></script>
   
  </head>
  <body>
    <header>
      <div class="back-btn" onclick="goBack()">←</div>
      <h1>술집 상세</h1>
    </header>

    <div class="detail" id="store-detail">
      <div class="like-btn" id="likeBtn">♡</div>
    </div>
  </body>
</html>
